body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: rgb(70, 0, 149);
  color: black;
}

header h1 {
  background-color: lightgoldenrodyellow;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 20px 10px 20px rgb(0, 0, 0);
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #222;
  margin: 0;
}

nav ul li {
  position: relative;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #ddd;
  font-weight: bold;
  color: black;
}

nav a:hover {
  background-color: blue;
  color: black;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

nav li:hover > ul {
  display: block;
}

nav ul ul li {
  display: block;
  margin: 5px 0;
}

section {
  display: none;
  width: 50%;
  padding: 20px;
  margin: 20px auto;
  min-height: 400px;
  background-color: #eee;
  border-radius: 10px;
}

section.active {
  display: block;
}
form {
  width: 300px;
  padding: 20px;
  margin: 20px auto;
  border: 4px solid black;
  background-color: #ddd;
  box-shadow: -10px 10px 20px grey;
  font-weight: bold;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  background-color: yellow;
}

input[type="submit"],
input[type="reset"] {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: green;
  color: white;
}

input[type="reset"]:hover {
  background-color: red;
  color: white;
}

#resultat {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  border-top: 1px solid black;
  color: white;
  background-color: burlywood;
  border-radius: 20px;
  box-shadow: 20px 10px 10px black;
}

.saison {
  display: none;
  margin-top: 15px;
}

.saison.active {
  display: block;
}

.saison h3 {
  cursor: pointer;
  background-color: #ccc;
  padding: 8px;
  border-radius: 5px;
}

.saison h3:hover {
  background-color: orange;
}
